version: "3.9"

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    volumes:
      - .:/usr/src/app
    command: npm run dev --loglevel=verbose

  web:
    image: python:3.11-alpine
    working_dir: /usr/src/app/frontend
    volumes:
      - ./frontend:/usr/src/app/frontend
    ports:
      - "8080:8080"
    command: python3 -m http.server 8080